* {
  margin: 0;
  border: 0;
  padding: 0;
}

header {
  padding: 32px;
  background-color: #444;
}

header a {
  color: #ffffff;
}

nav {
  display: flex;
  align-items: center;
}

nav a {
  text-decoration: none;
  position: relative;
  margin-right: 25px;
  font-size: 32px;
}

nav a::after {
  content: '';
  width: 0;
  height: 2px;
  background-color: #35ffc2;
  position: absolute;
  left: 0;
  bottom: -4px;
}

nav a:hover::after {
  width: 100%;
  transition: width 0.2s linear;
}

a:nth-child(4) {
  margin: 0;
  position: absolute;
  right: 10px;
}

a:nth-child(4) img {
  width: 20px;
}

section {
  width: 70%;
  display: table;
  margin: 10vw auto;
}

section h1 {
  font-size: 64px;
}

section p {
  font-size: 32px;
}

.claro {
  background-color: #fff;
  color: #333;
}

.escuro {
  background-color: #333;
  color: #fff;
}
